*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    }
    
    
    .background{
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    }
    
    nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
    }
    
    .logo{
    color: rgb(246, 240, 240);
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 1px;
     padding-left: 8%;
     
    }
    #minha_logo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    
    
    }
    span{
    color:#f9004d ;
    }
    
    nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
    }
    
    nav ul li a{
    color: rgb(248, 242, 242);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    }
    
    nav ul li a:hover{
    color: #f9004d;
    transform: .4s;
    }
    
    .btn{
    background-color: rgb(36, 193, 59);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    transition: transform .4s;
    }
    
    .btn:hover{
    transform: scale(1.2);
    }
    
    .Main{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
    }
    
    .Main span{
    color: #f9004d;
    }
    
    h1{
    color: #faf7f7;
    margin: 20px 0px 20px;
    font-size: 80px;
    }
    
    h4{
    color: rgba(249, 242, 249, 0.8);
    letter-spacing: 2px;
    font-size: 30px;
    }
    
    h3{
    color: #faf4f4;
    font-size: 30px;
    margin-bottom: 60px;
    }
    
    .Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
    }
    
    .Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
    display:none;
    }
    
    .Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #080101;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
    display:none;
    }
    
    .background-color-Sobre{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    
    }
    
    .background-color-Sobre img{
    width: 430px;
    height: auto;
    }
    
    aside{
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    
    }
    
    .icon-menu .menu{
    font-size: 30px;
    color:#f5f2f2 ;
    margin-top: 15px;
    margin-right: 15px;
    
    }
    #barra-menu{
    background-color:#191919;
    height: 100vh;
    width: 180px;
    transition: 0.3s all;
    }
    #barra-menu ul li{
    list-style: none;
    padding: 15px;
    }
    #barra-menu ul li a{
    color: #0e0e0e;
    text-decoration:none ;
    font-size: 15px;
    width: 100%;
    }
    #barra-menu ul li a:hover{
    border: solid 1px #101010;
    padding: 15px;
    border-radius:15px;
    background-color: #858585;
    }
    .c-icon{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
    }
    
    .Text-sobre{
    width: 550px;
    }
    
    .main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
    }
    
    .Text-sobre h2{
    color: #f4f1f1;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    }
    
    .Text-sobre h4{
    color: #faf8f8;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    }
    
    .Text-sobre p{
    color: rgba(248, 244, 242, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    }
    
    button{
    background-color:   #f9004d;
    color: #fff; 
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
    }
    
    button:hover{
    background-color: transparent;
    border: 2px solid  #31ca57;
    cursor: pointer;
    }
    
    .Container-serviços{
    background-color: #f9f7f7;
    width: 100%;
    padding: 100px 0px;
    }
    
    .title h2{
    color: #f2ecec;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    }
    
    .Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
    }
    
    .Card{
    background: #f6f3f3;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    
    }
    
    .Card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
    }
    
    h5{
    color: #f7f4f4;
    font-size: 23px;
    margin-bottom: 15px;
    }
    
    .Paragrafo-button{
    color: rgba(247, 244, 247, 0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    }
    
    .Paragrafo-button button{
    margin-top: 25px;
    }
    
    .me-contate {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    }
    
    .me-contate p{
    color: #151414;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    }
    
    footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    footer h6{
    font-size: 35px;
    color: #f7f2f2;
    }
    
    footer p{
    color: #0e0c0c;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
    }
    
    .Redes-sociais{
    display: flex;
    
    }
    
    .Redes-sociais a{
    background-color: #f9004d;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    }
    
    .Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
    }
    
    .end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px ;
    }
    @media screen and (max-width:375px){
    .inco-menu .menu{
        display:block;
    }
    #barra-menu{
        height:100vh;
        z-index: 1;
    
    }
    .c-icon{
        background-color:#00f93a ;
        color: #fff;
        text-transform: none;
        border: 2px solid transparent ;
        font-weight: bold;
        padding: 10px 5px;
        border-radius: 30px;
        width: 150px; 
        margin-left: 15px;
    }
    .Main h1,h3{
    font-size: 20px;
    }
    .Container-btn form{
    width: 180px;
    max-width: 100%;
    position: relative;
    margin-left: 2px;
    }
    .background-color-Sobre{
    align-items: center;
    text-align: center;
    }
    .main-sobre img{
    width: 280px;
    height: auto;
    border-radius: 10px;
    margin-left: -180px;
    }
    .Text-sobre h2{
    margin-left: -180px;
    
    }
    .Text-sobre h5{
    margin-left: -180px;
    
    }
    .Text-sobre p{
    font-size: 15px;
    width: 350px;
    margin-left: 15px;
    
    }
    .Text-sobre button{
    margin-left: -180px;
    }
    .Container-serviços h2{
    margin-left: 380px;
    font-size: 40px;
    
    }
    .me-contate p{
        text-align: center;
        align-items: center;
        font-size:20px;
    
    }
    .logo{
        font: size 20px; 
    }
    
    }
    
    #menu-mobile {
    display: none;
    }
    @media (max-width: 600px)
    {
    #menu-pc
    {
    display: none;
    }
    #menu-mobile {
    display: block;
    }
    .main-sobre {
     flex-wrap: wrap;
    }
    #barra-menu {
        width: 0;
        overflow: hidden;
    }
    }
    
    